---
layout: default
title: none
---

<p class="home-page-paragraph" style="text-align: center; font-size: 16px">Note: the mobile layout is still a work-in-progress. View on desktop instead.</p><br>
<h1 style="text-align: center;">Welcome to Mathular</h1><br>
<p class="home-page-paragraph" style="text-align: center;">Mathular is a website dedicated to teaching students math. Unlike many other studying resources, Mathular aims to provide a full blown <i>understanding</i> experience for the student - not just the traditional rote memorization that is pushed onto many of them. Because of this, we provide not just the information one needs, but also explanations (from experienced math tutors), both in the form of text and numerous visualizations. Accompanying each topic are a list of terms that provide the necessary concepts, as well as a set of questions for students to test themselves with.</p><br><br>
<p class="home-page-paragraph" style="text-align: center;">We have 4 subjects that span almost 30 topics in total, each with detailed explanations. There are over 40,000 words worth of material on this website.</p><br><br>
<p class="home-page-paragraph" style="text-align: center;">Use the menu bar above to navigate through the courses.</p>
<style>
	html {
		overflow-x: hidden;
	}

	h1, .home-page-paragraph {
		margin: 0 10% 0 10%;
	}

	.home-page-paragraph {
		font-size: 20px;
	}

	main {
		width: 100vw;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.secondary-column {
		display: none;
	}
</style>
